@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #1f252a;
  --card: #ffffff;
  --card-foreground: #1f252a;
  --popover: #ffffff;
  --popover-foreground: #1f252a;
  --primary: #2f3640;
  --primary-foreground: #f9f9fb;
  --secondary: #f0f0f4;
  --secondary-foreground: #2f3640;
  --muted: #f0f0f4;
  --muted-foreground: #858a95;
  --accent: #f0f0f4;
  --accent-foreground: #2f3640;
  --destructive: #e6512a;
  --destructive-foreground: #e6512a; /* Note: Same as --destructive, might want contrast */
  --border: #e5e6eb;
  --input: #e5e6eb;
  --ring: #a9adb6;
  --chart-1: #e68f38;
  --chart-2: #2da498;
  --chart-3: #416674;
  --chart-4: #c8cb45;
  --chart-5: #c7a736;
  --radius: 0.625rem;
  --sidebar: #f9f9fb;
  --sidebar-foreground: #1f252a;
  --sidebar-primary: #2f3640;
  --sidebar-primary-foreground: #f9f9fb;
  --sidebar-accent: #f0f0f4;
  --sidebar-accent-foreground: #2f3640;
  --sidebar-border: #e5e6eb;
  --sidebar-ring: #a9adb6;
}

.dark {
  --background: #1f252a;
  --foreground: #f9f9fb;
  --card: #1f252a;
  --card-foreground: #f9f9fb;
  --popover: #1f252a;
  --popover-foreground: #f9f9fb;
  --primary: #f9f9fb;
  --primary-foreground: #2f3640;
  --secondary: #3f4752;
  --secondary-foreground: #f9f9fb;
  --muted: #3f4752;
  --muted-foreground: #a9adb6;
  --accent: #3f4752;
  --accent-foreground: #f9f9fb;
  --destructive: #963c27;
  --destructive-foreground: #eb5c2f;
  --border: #3f4752;
  --input: #3f4752;
  --ring: #676f7b;
  --chart-1: #2d63a8;
  --chart-2: #54bda2;
  --chart-3: #c7a736;
  --chart-4: #885bd1;
  --chart-5: #e6692d;
  --sidebar: #2f3640;
  --sidebar-foreground: #f9f9fb;
  --sidebar-primary: #2d63a8;
  --sidebar-primary-foreground: #f9f9fb;
  --sidebar-accent: #3f4752;
  --sidebar-accent-foreground: #f9f9fb;
  --sidebar-border: #3f4752;
  --sidebar-ring: #676f7b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
